extends layout

block main
    h2 login here
    form.login(action='/login', method='post')
        label Please enter your name:
        input(type='text', name='username')
        button(type='submit') Submit